/**
folha de estilo do site retrogames.com
@author kaio eduardo 
/*

/* Importar fonte */

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bungee+Spice&family=Honk&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bungee+Spice&family=Honk&family=Kode+Mono:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variavel global*/
:root {
    --branco: #e5eff7;
    --cinzatexto: #434343;
    --cinza: rgb(12, 4, 23);
     --backgroundcard: #f1f3f1;
     --bordalayout: #ad1818;

     
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;

}

/*Layout*/



html {
    scroll-behavior: smooth;
}

body {
    font-family: "Anta", system-ui;
    font-size: 1em;
}

.Container {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.Flex,.FlexMenu{
    display: flex;
  justify-content: space-between;

}
.Flex {
    
    flex-direction: column;
}
.Card{
    margin-top: 30px;
    width: 338px;
    height: 520px;
    background-color:var(--backgroundcard) ;
    border: 1px solid var(--cinza);
    border-radius: 25px;
    text-align: center;
}
 
.Card img{
    border-radius: 25px 25px 0px 0px ;
}
.Card h3{
    margin: 15px 30px 0px 30px;

}
.Card p{
    padding: 10px 15px 50px 15px;
    text-align: left;
    color: var(--cinzatexto);
}

.Button{
text-decoration: none;
background-color: var(--cinza);
color: var(--branco);
padding: 10px 80px ;
border-radius: 25px;
font-size: 1, 2em;
font-weight: 700;
}

/* smartphone portrait */

/* cabeçalho*/
header{
    height: 90px;
    
}
#logo img {
    width: 80px;
    height: 80px;
    margin: 5px;
    
}

/*FOOTER */
footer {
    background-color: var(--branco);
    color: #000000;
    text-align: center;


}

#social {
    margin-bottom: 0;
}

/* smartphone landscape */
    
@media(min-width: 576px) {
    /* Cabeçalho*/
    .Container {
        max-width: 540px;

    }
    header{
        max-width: 540px;
        margin: auto;
    }

.Flex {
    flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    #social{
        margin: 0;
    }
}


/* Tablet portrait*/
@media(min-width: 768px) {
    .Container {
        max-width: 720px;

    }

}

 /*cabeçalho*/
 header{
    max-width: 720px;
    margin: 0 auto;
    height: 175px;
    
 }
 #logo img {
    width: 190px;
    height: 190px;
    
}

/* Tablet landscape */
@media(min-width: 992px) {
    .Container {
        max-width: 999px;

    }
    header{
        max-width: 999px;
        margin: 0 auto;
        height: 175px;
        
}
}


/* PCs ou notebooks lixo */
@media(min-width: 1200px) {
    .Container {
        max-width: 1140px;

    }
    header{
        max-width: 1140px;
        margin: 0 auto;
        height: 175px;
        

    }

    #social {
        margin: 0px;
    }
}



/* PCs ou notebooks TV  full HD + */

@media(min-width: 1400px) {

    .Container {
        max-width: 1360px;

    }
    header{
        max-width: 1360px;
        margin: 0 auto;
        height: 175px;
        
}
}